.main-form{
    height: 90vh;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background-color: #E5E5E5;
}
.login-formulario{
    height: 85vh;
    width: 75%;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #fff;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
}
.main-logs{
    margin: 10px;
}
.login-text{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 30px;
    margin: 0px;
}


.formulario{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 60%;
    border-bottom: solid 1px #E5E5E5;;
}
.loginput{
    width: 100%;
    height: 6vh;
    padding: 3%;
    margin: 20px 0px;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 4px;


    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;

}
.loginput::placeholder{
    color: #C4C4C4;
}
.btn-login{
    background: #F50057;
    border: none;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
    border-radius: 4px;

    width: 100%;
    height: 6vh;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 16px;
    color: #FFFFFF;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    margin: 25px;
}
.btn-login:hover{
    cursor: pointer;
}
.recuperacion{
    letter-spacing: 1.25px;
    text-transform: uppercase;
    color: #009688;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 12px;
    text-decoration: none;
    margin: 20px;
}
.preguntas{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    margin-top: 3vh;
    width: 100%;
}
.preg1{
    color: #C4C4C4;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 16px;
}
.btn-register{
    background: #FFFFFF;
    border: 1px solid #009688;
    border-radius: 4px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 16px;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    color: #009688;
    width: 35%;
    height: 4vh;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 750px) {
    .login-formulario {
      height: 100%;
      width: 100%;
      align-items: center;
      justify-content: center;
    }
    .formulario{
        width: 92%;
        padding: 10px;
    }
    .loginput{
        margin: 2vh 0px;
        height: 5vh;
    }
    .btn-login{
        margin: 2vh ;
        height: 5vh;
        font-size: 16px;
        line-height: 16px;
    }
    .recuperacion{
        font-size: 12px;
        line-height: 12px;
    }
    .btn-register{
        width: 50%;

    }
  }